body {
  display: grid;
  grid-template-columns: 4fr 4fr;
}

#board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-style: solid;
}

.tile {
  border-style: solid;
  border-width: 1px;
  height: 12.5vw;
  border-radius: 10%;
  
}

.blanktile {
  
  border-width: 1px;
  height: 12.5vw;
}

.odd{
  background-color: rgb(255, 115, 0);
  /* color: black; */
  color: aliceblue;
  vertical-align: middle;
  text-align: center;
}

.even{
  color: aliceblue;
  background-color: rgb(68, 70, 63);
  vertical-align: middle;
  text-align: center;
}